.app {
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: grid;
  justify-items: center;
}

.app.bg1 {
  background-image: url(/images/gb1.png);
}

.app.bg2 {
  background-image: url(/images/gb2.png);
}

.app.bg3 {
  background-image: url(/images/gb3.png);
}

.app.bg4 {
  background-image: url(/images/gb4.png);
}

.app__container {
  display: grid;
  grid-template-columns: auto lfr auto;
  align-items: center;
  justify-items: center;
  width: min(100%, 300px);
  padding: 0 10px;
}